/* nav {
    border: 2px solid green;
}

.nav-left {
    border: 2px solid green;
}

.nav-right {
    border: 2px solid green;
}

ul {
    border: 2px solid green;
}

li {
    border: 2px solid green;
}

header {
    border: 2px solid orange;
}

#duck {
    border: 2px solid yellow;
}

.text {
    border: 2px solid yellow;
}

.text p {
    border: 2px solid yellow;
}

.duck {
    border: 2px solid yellow;
}

#emergency {
    border: 2px solid blue;
}

.grid-container {
    border: 2px solid blue;

}

.grid-item {
    border: 2px solid pink;

}

footer {
    border: 2px solid red;
} */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Coming Soon", cursive;
  text-align: center;
  margin: 2rem;
}

p {
  margin: 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: seashell;
  padding: 10px;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 121, 36);
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 25px;
}

.nav-right {
  width: 80%;
}

.nav-right ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  height: 45px;
}

.nav-right__item {
  list-style: none;
}

.nav-right__item a {
  color: black;
  text-decoration: none;
}

.nav-right__item a {
  transition-property: box-shadow color;
  transition-duration: 0.7s;
  transition-delay: 0s;
}

.nav-right__item a:hover {
  box-shadow: 0px 5px rgb(240, 121, 36);
  color: 0px 5px rgb(240, 121, 36);
}

.nav-right__item a:hover {
  color: orange;
}

.nav-right__item a:active {
  text-decoration: underline;
}

#duck {
  display: flex;
  align-items: center;
  background-color: seashell;
  padding: 2rem 0;
}

#duck h2 {
  background-color: white;
  box-shadow: 5px 5px rgb(240, 121, 36);
  padding: 0.5rem;
}
#duck img {
  margin-right: 2rem;
}
#emergency h2 {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 2rem auto;
  width: 80%;
}

.grid-item {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: seashell;
}

.grid-item:active {
  box-shadow: 5px 5px seashell;
  background-color: rgb(240, 121, 36);
}

.grid-item {
  /*here we define what properties the transition should apply (background-colo, color
    and font-size*/
  transition-property: box-shadow;
  /* here we define how long our transition should last*/
  transition-duration: 0.7s;
  /* here we say that our transition should start0,5 seconds after the trigger*/
  transition-delay: 0s;
}

/* here we define how our transition properties will change on hover*/
.grid-item:hover {
  box-shadow: 5px 5px rgb(240, 121, 36);
}

.grid-container a {
  color: black;
  text-decoration: none;
}
#contact {
  background-color: seashell;
  padding: 2rem 0;
}

#contact h2 {
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form input,
form textarea {
  width: 40%;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid rgb(240, 121, 36);

  font-family: "Roboto", sans-serif;
}

form button {
    background-color: rgb(240, 121, 36);
    padding: .5rem 2rem;
    margin: 1rem auto;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    border: none;
    transition-property: box-shadow color;
    transition-duration: 0.7s;
    transition-delay: 0s;
}

form button:hover {
    cursor: pointer;
    box-shadow: 5px 5px black;
    color: white;
}
 